/.vs
/x64
/Project1/*.jpg
/Project1/*.onnx
/Project1/*.names
/Project1/*.dll
/Project1/*.bin
/Project1/*.xml
#/Project2/Project2.vcxproj
#/Project2/Project2.vcxproj.filters
#/Project2/Project2.vcxproj.user
